kind: Service
apiVersion: v1
metadata:
  name: "{{ cmf_db_server_name }}"
  namespace: "{{ cmf.environment.name }}"

spec:
  ports:
    - name: ssrs-http
      protocol: TCP
      port: 80
      targetPort: 80
    - name: mssql
      protocol: TCP
      port: 1433
      targetPort: 1433
    - name: mssql-mgnt
      protocol: UDP
      port: 1434
      targetPort: 1434
    - name: ssrs-https
      protocol: TCP
      port: 443
      targetPort: 443
    - name: ssas
      protocol: TCP
      port: 2383
      targetPort: 2383
    - name: winrm
      protocol: TCP
      port: 5985
      targetPort: 5985
  type: ClusterIP
  selector:
     app.kubernetes.io/name: "{{ cmf_db_server_name }}"