{
  "PROXYHTTPSERVER_AUTHENTICATION_USER": "proxy_user",
  "PROXYHTTPSERVER_AUTHENTICATION_PASSWORD": {
    "Value": "{{ admin_password }}",
    "IsEncrypted": false
  },
  "EXTERNAL_PROXY_ENABLED": "false",
  "EXTERNAL_PROXY_LOGIN_ENABLED": "false",
  "MinCPU_DefaultServiceResourceLimits": "0",
  "MinCPUSpecified_DefaultServiceResourceLimits": "True",
  "MaxCPU_DefaultServiceResourceLimits": "1",
  "MaxCPUSpecified_DefaultServiceResourceLimits": "True",
  "MinMemory_DefaultServiceResourceLimits": "0.2",
  "MinMemorySpecified_DefaultServiceResourceLimits": "True",
  "MaxMemory_DefaultServiceResourceLimits": "0.5",
  "MaxMemorySpecified_DefaultServiceResourceLimits": "True",
  "Replicas_DefaultServiceResourceLimits": "1",
  "ReplicasSpecified_DefaultServiceResourceLimits": "True",
  "ReplicasDisabled_DefaultServiceResourceLimits": "True",
  "ReplicasDisabledSpecified_DefaultServiceResourceLimits": "True",
  "EXTERNAL_PROXY_HTTP_ADDRESS": "",
  "EXTERNAL_PROXY_HTTP_PORT": "",
  "EXTERNAL_PROXY_USERNAME": "",
  "EXTERNAL_PROXY_PASSWORD": "",
  "Kubernetes_edgeforwardproxy_Replicas": "1",
  "Kubernetes_edgeforwardproxy_ReplicasDisabled": "True",
  "Kubernetes_edgeforwardproxy_MinMemory": "0.2Gi",
  "Kubernetes_edgeforwardproxy_MaxMemory": "0.5Gi",
  "Kubernetes_edgeforwardproxy_MinCPU": "0",
  "Kubernetes_edgeforwardproxy_MaxCPU": "1",
  "Kubernetes_edgesquidproxy_Replicas": "1",
  "Kubernetes_edgesquidproxy_ReplicasDisabled": "True",
  "Kubernetes_edgesquidproxy_MinMemory": "0.2Gi",
  "Kubernetes_edgesquidproxy_MaxMemory": "0.5Gi",
  "Kubernetes_edgesquidproxy_MinCPU": "0",
  "Kubernetes_edgesquidproxy_MaxCPU": "1",
  "Kubernetes_traefik_Replicas": "1",
  "Kubernetes_traefik_ReplicasDisabled": "false",
  "Kubernetes_traefik_MinMemory": "0.05Gi",
  "Kubernetes_traefik_MaxMemory": "0.2Gi",
  "Kubernetes_traefik_MinCPU": "0",
  "Kubernetes_traefik_MaxCPU": "0.5",
  "Kubernetes_Services_Global_DNS": null,
  "Container_Image_Registry_Username": null,
  "Container_Image_Registry_Password": null,
  "Container_Image_Registry_Address": null,
  "Services_Global_CACertificate": null
}