{
    "PROXYHTTPSERVER_AUTHENTICATION_USER": "proxy_user",
    "PROXYHTTPSERVER_AUTHENTICATION_PASSWORD": {
      "Value": "{{ admin_password }}",
      "IsEncrypted": false
    },
    "EXTERNAL_PROXY_ENABLED": "false",
    "EXTERNAL_PROXY_HTTP_ADDRESS": "",
    "EXTERNAL_PROXY_HTTP_PORT": "",
    "EXTERNAL_PROXY_LOGIN_ENABLED": "false",
    "EXTERNAL_PROXY_USERNAME": "",
    "EXTERNAL_PROXY_PASSWORD": "",
   
    "APPLICATION_PUBLIC_HTTP_ADDRESS": "cmf-agent.apps.{{ openshift.cluster_domain }}",
    "APPLICATION_ADMIN_USERNAME": "admin",
    "APPLICATION_ADMIN_PASSWORD": {
      "Value": "{{ admin_password }}",
      "IsEncrypted": false
    },
    "Kubernetes_grafana_Replicas": "1",
    "Kubernetes_grafana_ReplicasDisabled": "False",
    "Kubernetes_grafana_MinMemory": "0.128Gi",
    "Kubernetes_grafana_MaxMemory": "0.512Gi",
    "Kubernetes_grafana_MinCPU": "0.01",
    "Kubernetes_grafana_MaxCPU": "0.5",
    "Kubernetes_prometheus_Replicas": "1",
    "Kubernetes_prometheus_ReplicasDisabled": "True",
    "Kubernetes_prometheus_MinMemory": "0.256Gi",
    "Kubernetes_prometheus_MaxMemory": "1.512Gi",
    "Kubernetes_prometheus_MinCPU": "0.01",
    "Kubernetes_prometheus_MaxCPU": "0.5",
    "Kubernetes_fluentbit_MinMemory": "0.128Gi",
    "Kubernetes_fluentbit_MaxMemory": "0.512Gi",
    "Kubernetes_fluentbit_MinCPU": "0.01",
    "Kubernetes_fluentbit_MaxCPU": "0.5",
    "Kubernetes_loki_Replicas": "1",
    "Kubernetes_loki_ReplicasDisabled": "True",
    "Kubernetes_loki_MinMemory": "0.256Gi",
    "Kubernetes_loki_MaxMemory": "0.512Gi",
    "Kubernetes_loki_MinCPU": "0.01",
    "Kubernetes_loki_MaxCPU": "0.5",
    "Kubernetes_otel-collector_Replicas": "1",
    "Kubernetes_otel-collector_ReplicasDisabled": "True",
    "Kubernetes_otel-collector_MinMemory": "0.128Gi",
    "Kubernetes_otel-collector_MaxMemory": "6Gi",
    "Kubernetes_otel-collector_MinCPU": "0.01",
    "Kubernetes_otel-collector_MaxCPU": "0.5",
    "Kubernetes_edgeforwardproxy_Replicas": "1",
    "Kubernetes_edgeforwardproxy_ReplicasDisabled": "True",
    "Kubernetes_edgeforwardproxy_MinMemory": "0.2Gi",
    "Kubernetes_edgeforwardproxy_MaxMemory": "0.5Gi",
    "Kubernetes_edgeforwardproxy_MinCPU": "0",
    "Kubernetes_edgeforwardproxy_MaxCPU": "1",
    "Kubernetes_edgesquidproxy_Replicas": "1",
    "Kubernetes_edgesquidproxy_ReplicasDisabled": "True",
    "Kubernetes_edgesquidproxy_MinMemory": "0.2Gi",
    "Kubernetes_edgesquidproxy_MaxMemory": "0.5Gi",
    "Kubernetes_edgesquidproxy_MinCPU": "0",
    "Kubernetes_edgesquidproxy_MaxCPU": "1",
    "Kubernetes_traefik_Replicas": "1",
    "Kubernetes_traefik_ReplicasDisabled": "False",
    "Kubernetes_traefik_MinMemory": "0.05Gi",
    "Kubernetes_traefik_MaxMemory": "0.2Gi",
    "Kubernetes_traefik_MinCPU": "0",
    "Kubernetes_traefik_MaxCPU": "0.5",
    "Kubernetes_Volume_Type_grafana_share": "ExistingStorageClass",
    "Kubernetes_Volume_Size_grafana_share": "5",
    "Kubernetes_Volume_Access_Mode_grafana_share": "ReadWriteMany",
    "Kubernetes_Volume_NetworkShare_Path_grafana_share": null,
    "Kubernetes_Volume_NetworkShare_User_grafana_share": null,
    "Kubernetes_Volume_NetworkShare_Password_grafana_share": null,
    "Kubernetes_Volume_NFS_Server_grafana_share": null,
    "Kubernetes_Volume_NFS_Path_grafana_share": null,
    "Kubernetes_Volume_Local_Path_grafana_share": null,
    "Kubernetes_Volume_AzureFile_FileShare_grafana_share": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_grafana_share": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_grafana_share": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_grafana_share": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_grafana_share": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_grafana_share": "managed-nfs-storage",
    "Kubernetes_Volume_Type_prometheusstorage": "ExistingStorageClass",
    "Kubernetes_Volume_Size_prometheusstorage": "5",
    "Kubernetes_Volume_Access_Mode_prometheusstorage": "ReadWriteMany",
    "Kubernetes_Volume_NetworkShare_Path_prometheusstorage": null,
    "Kubernetes_Volume_NetworkShare_User_prometheusstorage": null,
    "Kubernetes_Volume_NetworkShare_Password_prometheusstorage": null,
    "Kubernetes_Volume_NFS_Server_prometheusstorage": null,
    "Kubernetes_Volume_NFS_Path_prometheusstorage": null,
    "Kubernetes_Volume_Local_Path_prometheusstorage": null,
    "Kubernetes_Volume_AzureFile_FileShare_prometheusstorage": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_prometheusstorage": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_prometheusstorage": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_prometheusstorage": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_prometheusstorage": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_prometheusstorage": "managed-nfs-storage",
    "Kubernetes_Volume_Type_varlogcontainers": "ExistingStorageClass",
    "Kubernetes_Volume_Size_varlogcontainers": "5",
    "Kubernetes_Volume_Access_Mode_varlogcontainers": "ReadWriteMany",
    "Kubernetes_Volume_NetworkShare_Path_varlogcontainers": null,
    "Kubernetes_Volume_NetworkShare_User_varlogcontainers": null,
    "Kubernetes_Volume_NetworkShare_Password_varlogcontainers": null,
    "Kubernetes_Volume_NFS_Server_varlogcontainers": null,
    "Kubernetes_Volume_NFS_Path_varlogcontainers": null,
    "Kubernetes_Volume_Local_Path_varlogcontainers": "/var/log/containers",
    "Kubernetes_Volume_AzureFile_FileShare_varlogcontainers": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_varlogcontainers": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_varlogcontainers": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_varlogcontainers": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_varlogcontainers": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_varlogcontainers": "managed-nfs-storage",
    "Kubernetes_Volume_Type_varlogpods": "ExistingStorageClass",
    "Kubernetes_Volume_Size_varlogpods": "5",
    "Kubernetes_Volume_Access_Mode_varlogpods": "ReadWriteMany",
    "Kubernetes_Volume_NetworkShare_Path_varlogpods": null,
    "Kubernetes_Volume_NetworkShare_User_varlogpods": null,
    "Kubernetes_Volume_NetworkShare_Password_varlogpods": null,
    "Kubernetes_Volume_NFS_Server_varlogpods": null,
    "Kubernetes_Volume_NFS_Path_varlogpods": null,
    "Kubernetes_Volume_Local_Path_varlogpods": "/var/log/pods",
    "Kubernetes_Volume_AzureFile_FileShare_varlogpods": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_varlogpods": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_varlogpods": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_varlogpods": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_varlogpods": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_varlogpods": "managed-nfs-storage",
    "Kubernetes_Volume_Type_lokistorage": "ExistingStorageClass",
    "Kubernetes_Volume_Size_lokistorage": "5",
    "Kubernetes_Volume_Access_Mode_lokistorage": "ReadWriteMany",
    "Kubernetes_Volume_NetworkShare_Path_lokistorage": null,
    "Kubernetes_Volume_NetworkShare_User_lokistorage": null,
    "Kubernetes_Volume_NetworkShare_Password_lokistorage": null,
    "Kubernetes_Volume_NFS_Server_lokistorage": null,
    "Kubernetes_Volume_NFS_Path_lokistorage": null,
    "Kubernetes_Volume_Local_Path_lokistorage": null,
    "Kubernetes_Volume_AzureFile_FileShare_lokistorage": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_lokistorage": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_lokistorage": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_lokistorage": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_lokistorage": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_lokistorage": "managed-nfs-storage",
    "Kubernetes_Services_Global_DNS": null,
    "Container_Image_Registry_Username": null,
    "Container_Image_Registry_Password": null,
    "Container_Image_Registry_Address": null,
    "Services_Global_CACertificate": null
  }