{
    "__dep_@criticalmanufacturing\\centraltraefikconnection": "true",
    "__dep_@criticalmanufacturing\\mesforwardproxy": "true",
    "__dep_@criticalmanufacturing\\envmanager_dbmode": "@criticalmanufacturing\\{{ cmf.environment.dbmode }}",
    "DATABASE_ONLINE_MSSQL_ADDRESS": "{{ cmf_secrets.database.online.address }}",
    "DATABASE_ONLINE_MSSQL_USERNAME": "{{ cmf_secrets.database.online.username }}",
    "DATABASE_ONLINE_MSSQL_PASSWORD": {
      "Value": "{{ admin_password }}",
      "IsEncrypted": false
    },
    "SYSTEM_NAME": "MES",
    "TENANT_NAME": "cmf",
    "APPLICATION_PUBLIC_HTTP_ADDRESS": "mes.apps.{{ openshift.cluster_domain }}",
    "APPLICATION_PUBLIC_HTTP_PORT": "443",
    "APPLICATION_PUBLIC_HTTP_TLS_ENABLED": "true",
    "APPLICATION_ADMIN_USERNAME": "admin",
    "APPLICATION_ADMIN_PASSWORD": {
      "Value": "{{ admin_password }}",
      "IsEncrypted": false
    },
    "APPLICATION_BASE_HREF": "/",
    "ENV_MANAGER_BOOT_PACKAGE": "",
    "INSTALLATION_DATA_VOLUME_PATH": "/var/opt/envmanager/installation",
    "DATABASE_ONLINE_MSSQL_PORT": "",
    "DATABASE_ONLINE_MSSQL_FILE_LOCATION": "",
    "DATABASE_MSSQL_ALWAYS_ON_ENABLED": "false",
    "DATABASE_MSSQL_EDITION_ENABLED": "true",
    "DATABASE_MSSQL_EDITION": "Developer",
    "DATABASE_MSSQL_PRODUCT_KEY": "",
    "SECURITY_PORTAL_CLIENT_ID": "MES",
    "SECURITY_PORTAL_CLIENT_SECRET": {
      "Value": "{{ admin_password }}",
      "IsEncrypted": false
    },
    "SECURITY_PORTAL_STRATEGY_LOCAL_AD_ENABLED": "false",
    "SECURITY_PORTAL_STRATEGY_LOCAL_AD_DEFAULT_DOMAIN": "",
    "SECURITY_PORTAL_STRATEGY_LOCAL_AD_SERVER_ADDRESS": "",
    "SECURITY_PORTAL_STRATEGY_LOCAL_AD_SERVER_BASE_DN": "",
    "SECURITY_PORTAL_STRATEGY_LOCAL_AD_USERNAME": "",
    "SECURITY_PORTAL_STRATEGY_LOCAL_AD_PASSWORD": "",
    "SECURITY_PORTAL_STRATEGY_LOCAL_AD_SERVER_USE_SSL": "false",
    "SECURITY_PORTAL_STRATEGY_LOCAL_AD_SERVER_PORT": "",
    "SECURITY_PORTAL_STRATEGY_WEBAUTHN_ENABLED": "true",
    "SECURITY_PORTAL_STRATEGY_OPEN_ID_CONNECT_ENABLED": "false",
    "SECURITY_PORTAL_STRATEGY_OPEN_ID_CONNECT_ID": "OpenID",
    "SECURITY_PORTAL_STRATEGY_OPEN_ID_CONNECT_CLIEND_ID": "",
    "SECURITY_PORTAL_STRATEGY_OPEN_ID_CONNECT_METADATA_URL": "",
    "SECURITY_PORTAL_SESSION_VALID_FOR": "7d",
    "SECURITY_PORTAL_SESSION_SHOW_REMAIN_SIGNED_IN": "false",
    "APPLICATION_CORS_HEADER": "",
    "PROXYHTTPSERVER_AUTHENTICATION_USER": "proxy_user",
    "PROXYHTTPSERVER_AUTHENTICATION_PASSWORD": {
      "Value": "{{ admin_password }}",
      "IsEncrypted": false
    },
    "SCHEDULING_HTTP_ADDRESS": "",
    "SCHEDULING_HTTP_PORT": "",
    "CLOUDFLARE_DNS_API_ENABLED": "false",
    "CLOUDFLARE_DNS_API_API_TOKEN": null,
    "CLOUDFLARE_DNS_API_EXTERNAL_IP": null,
    "CLOUDFLARE_DNS_API_PROXY_ENABLED": "false",
    "CLOUDFLARE_DNS_API_DOMAIN": null,
    "PRINTING_CUPS_ENABLED": "false",
    "PRINTING_SERVICE_URL": "",
    "PRINTING_CUPS_URL": "",
    "ECAD_HTTP_ADDRESS": "",
    "ECAD_HTTP_PORT": "",
    "DATAPLATFORM_EVENT_HANDLER_STRATEGY": "Kafka",
    "DATAMANAGER_PORT": "6189",
    "KAFKA_BROKERS": "kafka1:9092,kafka2:9092,kafka3:9092",
    "REDIS_ADDRESS": "redis:6379",
    "EMAIL_FROM_ADDRESS": "",
    "EMAIL_SMTP_ADDRESS": "",
    "EMAIL_SMTP_PORT": null,
    "EMAIL_SMTP_TLS_ENABLED": "false",
    "EMAIL_SMTP_USERNAME": "",
    "EMAIL_SMTP_PASSWORD": "",
    "EMAIL_LOCAL_SUPPORT_ADDRESS": "",
    "ERP_SAP_ENABLED": "false",
    "ERP_SAP_ADDRESS": "",
    "ERP_SAP_SYSTEM_NUMBER": "",
    "ERP_SAP_SERVICE_NAME": "",
    "ERP_SAP_PROGRAM_ID": "",
    "ERP_SAP_USERNAME": "",
    "ERP_SAP_PASSWORD": "",
    "ERP_SAP_CLIENT_NUMBER": "",
    "ERP_SAP_THEOBALD_ERPCONNECT_LICENSE": "",
    "ACTION_MANAGER_BOOT_SYNC_ENABLED": "true",
    "Kubernetes_Services_Global_DNS": null,
    "Container_Image_Registry_Username": null,
    "Container_Image_Registry_Password": null,
    "Container_Image_Registry_Address": null,
    "Services_Global_CACertificate": null,
    "Kubernetes_iot-action-manager_Replicas": "1",
    "Kubernetes_iot-action-manager_ReplicasDisabled": "false",
    "Kubernetes_iot-action-manager_MinMemory": null,
    "Kubernetes_iot-action-manager_MaxMemory": null,
    "Kubernetes_iot-action-manager_MinCPU": null,
    "Kubernetes_iot-action-manager_MaxCPU": null,
    "Kubernetes_iot-dee-task-executor_Replicas": "1",
    "Kubernetes_iot-dee-task-executor_ReplicasDisabled": "false",
    "Kubernetes_iot-dee-task-executor_MinMemory": null,
    "Kubernetes_iot-dee-task-executor_MaxMemory": null,
    "Kubernetes_iot-dee-task-executor_MinCPU": null,
    "Kubernetes_iot-dee-task-executor_MaxCPU": null,
    "Kubernetes_iot-ml-task-executor_Replicas": "1",
    "Kubernetes_iot-ml-task-executor_ReplicasDisabled": "false",
    "Kubernetes_iot-ml-task-executor_MinMemory": null,
    "Kubernetes_iot-ml-task-executor_MaxMemory": null,
    "Kubernetes_iot-ml-task-executor_MinCPU": null,
    "Kubernetes_iot-ml-task-executor_MaxCPU": null,
    "Kubernetes_datamanagerrest_Replicas": "1",
    "Kubernetes_datamanagerrest_ReplicasDisabled": "false",
    "Kubernetes_datamanagerrest_MinMemory": null,
    "Kubernetes_datamanagerrest_MaxMemory": null,
    "Kubernetes_datamanagerrest_MinCPU": null,
    "Kubernetes_datamanagerrest_MaxCPU": null,
    "Kubernetes_mlplatformagent_Replicas": "1",
    "Kubernetes_mlplatformagent_ReplicasDisabled": "false",
    "Kubernetes_mlplatformagent_MinMemory": null,
    "Kubernetes_mlplatformagent_MaxMemory": null,
    "Kubernetes_mlplatformagent_MinCPU": null,
    "Kubernetes_mlplatformagent_MaxCPU": null,
    "Kubernetes_mlplatformtraining_Replicas": "1",
    "Kubernetes_mlplatformtraining_ReplicasDisabled": "false",
    "Kubernetes_mlplatformtraining_MinMemory": null,
    "Kubernetes_mlplatformtraining_MaxMemory": null,
    "Kubernetes_mlplatformtraining_MinCPU": null,
    "Kubernetes_mlplatformtraining_MaxCPU": null,
    "Kubernetes_clickhouse_Replicas": "1",
    "Kubernetes_clickhouse_ReplicasDisabled": "false",
    "Kubernetes_clickhouse_MinMemory": "1Gi",
    "Kubernetes_clickhouse_MaxMemory": "5Gi",
    "Kubernetes_clickhouse_MinCPU": "1",
    "Kubernetes_clickhouse_MaxCPU": "4",
    "Kubernetes_redis_Replicas": "1",
    "Kubernetes_redis_ReplicasDisabled": "True",
    "Kubernetes_redis_MinMemory": "0Gi",
    "Kubernetes_redis_MaxMemory": "0Gi",
    "Kubernetes_redis_MinCPU": "0",
    "Kubernetes_redis_MaxCPU": "0",
    "Kubernetes_data-manager_Replicas": "1",
    "Kubernetes_data-manager_ReplicasDisabled": "false",
    "Kubernetes_data-manager_MinMemory": null,
    "Kubernetes_data-manager_MaxMemory": null,
    "Kubernetes_data-manager_MinCPU": null,
    "Kubernetes_data-manager_MaxCPU": null,
    "Kubernetes_zookeeper1_Replicas": "1",
    "Kubernetes_zookeeper1_ReplicasDisabled": "false",
    "Kubernetes_zookeeper1_MinMemory": null,
    "Kubernetes_zookeeper1_MaxMemory": null,
    "Kubernetes_zookeeper1_MinCPU": null,
    "Kubernetes_zookeeper1_MaxCPU": null,
    "Kubernetes_kafka1_Replicas": "1",
    "Kubernetes_kafka1_ReplicasDisabled": "True",
    "Kubernetes_kafka1_MinMemory": "0Gi",
    "Kubernetes_kafka1_MaxMemory": "0Gi",
    "Kubernetes_kafka1_MinCPU": "0",
    "Kubernetes_kafka1_MaxCPU": "0",
    "Kubernetes_kafka2_Replicas": "1",
    "Kubernetes_kafka2_ReplicasDisabled": "True",
    "Kubernetes_kafka2_MinMemory": "0Gi",
    "Kubernetes_kafka2_MaxMemory": "0Gi",
    "Kubernetes_kafka2_MinCPU": "0",
    "Kubernetes_kafka2_MaxCPU": "0",
    "Kubernetes_kafka3_Replicas": "1",
    "Kubernetes_kafka3_ReplicasDisabled": "True",
    "Kubernetes_kafka3_MinMemory": "0Gi",
    "Kubernetes_kafka3_MaxMemory": "0Gi",
    "Kubernetes_kafka3_MinCPU": "0",
    "Kubernetes_kafka3_MaxCPU": "0",
    "Kubernetes_traefik_Replicas": "1",
    "Kubernetes_traefik_ReplicasDisabled": "False",
    "Kubernetes_traefik_MinMemory": "0.05Gi",
    "Kubernetes_traefik_MaxMemory": "0.2Gi",
    "Kubernetes_traefik_MinCPU": "0",
    "Kubernetes_traefik_MaxCPU": "0.5",
    "Kubernetes_envmanager_Replicas": "1",
    "Kubernetes_envmanager_ReplicasDisabled": "False",
    "Kubernetes_envmanager_MinMemory": "1.5Gi",
    "Kubernetes_envmanager_MaxMemory": "6Gi",
    "Kubernetes_envmanager_MinCPU": "0",
    "Kubernetes_envmanager_MaxCPU": "1",
    "Kubernetes_db_Replicas": "1",
    "Kubernetes_db_ReplicasDisabled": "False",
    "Kubernetes_db_MinMemory": "4Gi",
    "Kubernetes_db_MaxMemory": "6Gi",
    "Kubernetes_db_MinCPU": "0",
    "Kubernetes_db_MaxCPU": "2",
    "Kubernetes_edgeforwardproxy_Replicas": "1",
    "Kubernetes_edgeforwardproxy_ReplicasDisabled": "True",
    "Kubernetes_edgeforwardproxy_MinMemory": "0.2Gi",
    "Kubernetes_edgeforwardproxy_MaxMemory": "0.5Gi",
    "Kubernetes_edgeforwardproxy_MinCPU": "0",
    "Kubernetes_edgeforwardproxy_MaxCPU": "1",
    "Kubernetes_discoveryservices_Replicas": "1",
    "Kubernetes_discoveryservices_ReplicasDisabled": "True",
    "Kubernetes_discoveryservices_MinMemory": "0.2Gi",
    "Kubernetes_discoveryservices_MaxMemory": "0.5Gi",
    "Kubernetes_discoveryservices_MinCPU": "0",
    "Kubernetes_discoveryservices_MaxCPU": "1",
    "Kubernetes_messagebus_Replicas": "1",
    "Kubernetes_messagebus_ReplicasDisabled": "False",
    "Kubernetes_messagebus_MinMemory": "0.1Gi",
    "Kubernetes_messagebus_MaxMemory": "0.5Gi",
    "Kubernetes_messagebus_MinCPU": "0",
    "Kubernetes_messagebus_MaxCPU": "0.5",
    "Kubernetes_host_Replicas": "1",
    "Kubernetes_host_ReplicasDisabled": "False",
    "Kubernetes_host_MinMemory": "2Gi",
    "Kubernetes_host_MaxMemory": "6Gi",
    "Kubernetes_host_MinCPU": "1",
    "Kubernetes_host_MaxCPU": "4",
    "Kubernetes_securityportal_Replicas": "1",
    "Kubernetes_securityportal_ReplicasDisabled": "False",
    "Kubernetes_securityportal_MinMemory": "0.15Gi",
    "Kubernetes_securityportal_MaxMemory": "0.5Gi",
    "Kubernetes_securityportal_MinCPU": "0",
    "Kubernetes_securityportal_MaxCPU": "0.5",
    "Kubernetes_traefik-forwardauth_Replicas": "1",
    "Kubernetes_traefik-forwardauth_ReplicasDisabled": "False",
    "Kubernetes_traefik-forwardauth_MinMemory": "0.1Gi",
    "Kubernetes_traefik-forwardauth_MaxMemory": "0.2Gi",
    "Kubernetes_traefik-forwardauth_MinCPU": "0",
    "Kubernetes_traefik-forwardauth_MaxCPU": "0.5",
    "Kubernetes_help_Replicas": "1",
    "Kubernetes_help_ReplicasDisabled": "False",
    "Kubernetes_help_MinMemory": "0.5Gi",
    "Kubernetes_help_MaxMemory": "1Gi",
    "Kubernetes_help_MinCPU": "0.5",
    "Kubernetes_help_MaxCPU": "0.5",
    "Kubernetes_help-ref_Replicas": "1",
    "Kubernetes_help-ref_ReplicasDisabled": "False",
    "Kubernetes_help-ref_MinMemory": "0.5Gi",
    "Kubernetes_help-ref_MaxMemory": "1Gi",
    "Kubernetes_help-ref_MinCPU": "0.5",
    "Kubernetes_help-ref_MaxCPU": "0.5",
    "Kubernetes_ui_Replicas": "1",
    "Kubernetes_ui_ReplicasDisabled": "False",
    "Kubernetes_ui_MinMemory": "0.5Gi",
    "Kubernetes_ui_MaxMemory": "1Gi",
    "Kubernetes_ui_MinCPU": "0",
    "Kubernetes_ui_MaxCPU": "1",
    "Kubernetes_grafana_Replicas": "1",
    "Kubernetes_grafana_ReplicasDisabled": "False",
    "Kubernetes_grafana_MinMemory": "0.5Gi",
    "Kubernetes_grafana_MaxMemory": "4Gi",
    "Kubernetes_grafana_MinCPU": "0",
    "Kubernetes_grafana_MaxCPU": "1.5",
    "Kubernetes_rasa-actions_Replicas": "1",
    "Kubernetes_rasa-actions_ReplicasDisabled": "false",
    "Kubernetes_rasa-actions_MinMemory": null,
    "Kubernetes_rasa-actions_MaxMemory": null,
    "Kubernetes_rasa-actions_MinCPU": null,
    "Kubernetes_rasa-actions_MaxCPU": null,
    "Kubernetes_rasa_Replicas": "1",
    "Kubernetes_rasa_ReplicasDisabled": "false",
    "Kubernetes_rasa_MinMemory": null,
    "Kubernetes_rasa_MaxMemory": null,
    "Kubernetes_rasa_MinCPU": null,
    "Kubernetes_rasa_MaxCPU": null,
    "Kubernetes_replicate-table-schemas_Replicas": "1",
    "Kubernetes_replicate-table-schemas_ReplicasDisabled": "false",
    "Kubernetes_replicate-table-schemas_MinMemory": null,
    "Kubernetes_replicate-table-schemas_MaxMemory": null,
    "Kubernetes_replicate-table-schemas_MinCPU": null,
    "Kubernetes_replicate-table-schemas_MaxCPU": null,
    "Kubernetes_replicate-ids_Replicas": "1",
    "Kubernetes_replicate-ids_ReplicasDisabled": "false",
    "Kubernetes_replicate-ids_MinMemory": null,
    "Kubernetes_replicate-ids_MaxMemory": null,
    "Kubernetes_replicate-ids_MinCPU": null,
    "Kubernetes_replicate-ids_MaxCPU": null,
    "Kubernetes_replicate-events_Replicas": "1",
    "Kubernetes_replicate-events_ReplicasDisabled": "false",
    "Kubernetes_replicate-events_MinMemory": null,
    "Kubernetes_replicate-events_MaxMemory": null,
    "Kubernetes_replicate-events_MinCPU": null,
    "Kubernetes_replicate-events_MaxCPU": null,
    "Kubernetes_connectiot-manager_Replicas": "1",
    "Kubernetes_connectiot-manager_ReplicasDisabled": "True",
    "Kubernetes_connectiot-manager_MinMemory": "1Gi",
    "Kubernetes_connectiot-manager_MaxMemory": "5Gi",
    "Kubernetes_connectiot-manager_MinCPU": "1",
    "Kubernetes_connectiot-manager_MaxCPU": "4",
    "Kubernetes_Volume_Type_ml_training_folder": "ExistingStorageClass",
    "Kubernetes_Volume_Size_ml_training_folder": "1",
    "Kubernetes_Volume_NetworkShare_Path_ml_training_folder": null,
    "Kubernetes_Volume_NetworkShare_User_ml_training_folder": null,
    "Kubernetes_Volume_NetworkShare_Password_ml_training_folder": null,
    "Kubernetes_Volume_NFS_Server_ml_training_folder": null,
    "Kubernetes_Volume_NFS_Path_ml_training_folder": null,
    "Kubernetes_Volume_Local_Path_ml_training_folder": null,
    "Kubernetes_Volume_AzureFile_FileShare_ml_training_folder": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_ml_training_folder": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_ml_training_folder": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_ml_training_folder": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_ml_training_folder": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_ml_training_folder": "{{ openshift.storageClasses.rwx }}",
    "Kubernetes_Volume_Type_ml_agent_folder": "ExistingStorageClass",
    "Kubernetes_Volume_Size_ml_agent_folder": "1",
    "Kubernetes_Volume_NetworkShare_Path_ml_agent_folder": null,
    "Kubernetes_Volume_NetworkShare_User_ml_agent_folder": null,
    "Kubernetes_Volume_NetworkShare_Password_ml_agent_folder": null,
    "Kubernetes_Volume_NFS_Server_ml_agent_folder": null,
    "Kubernetes_Volume_NFS_Path_ml_agent_folder": null,
    "Kubernetes_Volume_Local_Path_ml_agent_folder": null,
    "Kubernetes_Volume_AzureFile_FileShare_ml_agent_folder": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_ml_agent_folder": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_ml_agent_folder": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_ml_agent_folder": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_ml_agent_folder": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_ml_agent_folder": "{{ openshift.storageClasses.rwx }}",
    "Kubernetes_Volume_Type_clickhouse-data": "ExistingStorageClass",
    "Kubernetes_Volume_Size_clickhouse-data": "1",
    "Kubernetes_Volume_NetworkShare_Path_clickhouse-data": null,
    "Kubernetes_Volume_NetworkShare_User_clickhouse-data": null,
    "Kubernetes_Volume_NetworkShare_Password_clickhouse-data": null,
    "Kubernetes_Volume_NFS_Server_clickhouse-data": null,
    "Kubernetes_Volume_NFS_Path_clickhouse-data": null,
    "Kubernetes_Volume_Local_Path_clickhouse-data": null,
    "Kubernetes_Volume_AzureFile_FileShare_clickhouse-data": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_clickhouse-data": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_clickhouse-data": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_clickhouse-data": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_clickhouse-data": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_clickhouse-data": "{{ openshift.storageClasses.rwo }}",
    "Kubernetes_Volume_Type_clickhouse-log": "ExistingStorageClass",
    "Kubernetes_Volume_Size_clickhouse-log": "1",
    "Kubernetes_Volume_NetworkShare_Path_clickhouse-log": null,
    "Kubernetes_Volume_NetworkShare_User_clickhouse-log": null,
    "Kubernetes_Volume_NetworkShare_Password_clickhouse-log": null,
    "Kubernetes_Volume_NFS_Server_clickhouse-log": null,
    "Kubernetes_Volume_NFS_Path_clickhouse-log": null,
    "Kubernetes_Volume_Local_Path_clickhouse-log": null,
    "Kubernetes_Volume_AzureFile_FileShare_clickhouse-log": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_clickhouse-log": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_clickhouse-log": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_clickhouse-log": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_clickhouse-log": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_clickhouse-log": "{{ openshift.storageClasses.rwo }}",
    "Kubernetes_Volume_Type_redis-data": "ExistingStorageClass",
    "Kubernetes_Volume_Size_redis-data": "1",
    "Kubernetes_Volume_NetworkShare_Path_redis-data": null,
    "Kubernetes_Volume_NetworkShare_User_redis-data": null,
    "Kubernetes_Volume_NetworkShare_Password_redis-data": null,
    "Kubernetes_Volume_NFS_Server_redis-data": null,
    "Kubernetes_Volume_NFS_Path_redis-data": null,
    "Kubernetes_Volume_Local_Path_redis-data": null,
    "Kubernetes_Volume_AzureFile_FileShare_redis-data": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_redis-data": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_redis-data": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_redis-data": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_redis-data": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_redis-data": "{{ openshift.storageClasses.rwo }}",
    "Kubernetes_Volume_Type_zookeeper1-data": "ExistingStorageClass",
    "Kubernetes_Volume_Size_zookeeper1-data": "1",
    "Kubernetes_Volume_NetworkShare_Path_zookeeper1-data": null,
    "Kubernetes_Volume_NetworkShare_User_zookeeper1-data": null,
    "Kubernetes_Volume_NetworkShare_Password_zookeeper1-data": null,
    "Kubernetes_Volume_NFS_Server_zookeeper1-data": null,
    "Kubernetes_Volume_NFS_Path_zookeeper1-data": null,
    "Kubernetes_Volume_Local_Path_zookeeper1-data": null,
    "Kubernetes_Volume_AzureFile_FileShare_zookeeper1-data": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_zookeeper1-data": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_zookeeper1-data": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_zookeeper1-data": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_zookeeper1-data": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_zookeeper1-data": "{{ openshift.storageClasses.rwo }}",
    "Kubernetes_Volume_Type_zookeeper1-datalog": "ExistingStorageClass",
    "Kubernetes_Volume_Size_zookeeper1-datalog": "1",
    "Kubernetes_Volume_NetworkShare_Path_zookeeper1-datalog": null,
    "Kubernetes_Volume_NetworkShare_User_zookeeper1-datalog": null,
    "Kubernetes_Volume_NetworkShare_Password_zookeeper1-datalog": null,
    "Kubernetes_Volume_NFS_Server_zookeeper1-datalog": null,
    "Kubernetes_Volume_NFS_Path_zookeeper1-datalog": null,
    "Kubernetes_Volume_Local_Path_zookeeper1-datalog": null,
    "Kubernetes_Volume_AzureFile_FileShare_zookeeper1-datalog": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_zookeeper1-datalog": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_zookeeper1-datalog": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_zookeeper1-datalog": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_zookeeper1-datalog": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_zookeeper1-datalog": "{{ openshift.storageClasses.rwo }}",
    "Kubernetes_Volume_Type_kafka1-data": "ExistingStorageClass",
    "Kubernetes_Volume_Size_kafka1-data": "1",
    "Kubernetes_Volume_NetworkShare_Path_kafka1-data": null,
    "Kubernetes_Volume_NetworkShare_User_kafka1-data": null,
    "Kubernetes_Volume_NetworkShare_Password_kafka1-data": null,
    "Kubernetes_Volume_NFS_Server_kafka1-data": null,
    "Kubernetes_Volume_NFS_Path_kafka1-data": null,
    "Kubernetes_Volume_Local_Path_kafka1-data": null,
    "Kubernetes_Volume_AzureFile_FileShare_kafka1-data": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_kafka1-data": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_kafka1-data": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_kafka1-data": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_kafka1-data": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_kafka1-data": "{{ openshift.storageClasses.rwo }}",
    "Kubernetes_Volume_Type_kafka2-data": "ExistingStorageClass",
    "Kubernetes_Volume_Size_kafka2-data": "1",
    "Kubernetes_Volume_NetworkShare_Path_kafka2-data": null,
    "Kubernetes_Volume_NetworkShare_User_kafka2-data": null,
    "Kubernetes_Volume_NetworkShare_Password_kafka2-data": null,
    "Kubernetes_Volume_NFS_Server_kafka2-data": null,
    "Kubernetes_Volume_NFS_Path_kafka2-data": null,
    "Kubernetes_Volume_Local_Path_kafka2-data": null,
    "Kubernetes_Volume_AzureFile_FileShare_kafka2-data": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_kafka2-data": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_kafka2-data": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_kafka2-data": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_kafka2-data": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_kafka2-data": "{{ openshift.storageClasses.rwo }}",
    "Kubernetes_Volume_Type_kafka3-data": "ExistingStorageClass",
    "Kubernetes_Volume_Size_kafka3-data": "1",
    "Kubernetes_Volume_NetworkShare_Path_kafka3-data": null,
    "Kubernetes_Volume_NetworkShare_User_kafka3-data": null,
    "Kubernetes_Volume_NetworkShare_Password_kafka3-data": null,
    "Kubernetes_Volume_NFS_Server_kafka3-data": null,
    "Kubernetes_Volume_NFS_Path_kafka3-data": null,
    "Kubernetes_Volume_Local_Path_kafka3-data": null,
    "Kubernetes_Volume_AzureFile_FileShare_kafka3-data": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_kafka3-data": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_kafka3-data": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_kafka3-data": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_kafka3-data": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_kafka3-data": "{{ openshift.storageClasses.rwo }}",
    "Kubernetes_Volume_Type_mssqlserver_data": "ExistingStorageClass",
    "Kubernetes_Volume_Size_mssqlserver_data": "50",
    "Kubernetes_Volume_NetworkShare_Path_mssqlserver_data": null,
    "Kubernetes_Volume_NetworkShare_User_mssqlserver_data": null,
    "Kubernetes_Volume_NetworkShare_Password_mssqlserver_data": null,
    "Kubernetes_Volume_NFS_Server_mssqlserver_data": null,
    "Kubernetes_Volume_NFS_Path_mssqlserver_data": null,
    "Kubernetes_Volume_Local_Path_mssqlserver_data": null,
    "Kubernetes_Volume_AzureFile_FileShare_mssqlserver_data": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_mssqlserver_data": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_mssqlserver_data": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_mssqlserver_data": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_mssqlserver_data": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_mssqlserver_data": "{{ openshift.storageClasses.rwx }}",
    "Kubernetes_Volume_Type_grafana_share": "ExistingStorageClass",
    "Kubernetes_Volume_Size_grafana_share": "1",
    "Kubernetes_Volume_NetworkShare_Path_grafana_share": null,
    "Kubernetes_Volume_NetworkShare_User_grafana_share": null,
    "Kubernetes_Volume_NetworkShare_Password_grafana_share": null,
    "Kubernetes_Volume_NFS_Server_grafana_share": null,
    "Kubernetes_Volume_NFS_Path_grafana_share": null,
    "Kubernetes_Volume_Local_Path_grafana_share": null,
    "Kubernetes_Volume_AzureFile_FileShare_grafana_share": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_grafana_share": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_grafana_share": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_grafana_share": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_grafana_share": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_grafana_share": "{{ openshift.storageClasses.rwx }}",
    "Kubernetes_Volume_Type_installation_data": "ExistingStorageClass",
    "Kubernetes_Volume_Size_installation_data": "10",
    "Kubernetes_Volume_NetworkShare_Path_installation_data": null,
    "Kubernetes_Volume_NetworkShare_User_installation_data": null,
    "Kubernetes_Volume_NetworkShare_Password_installation_data": null,
    "Kubernetes_Volume_NFS_Server_installation_data": "null",
    "Kubernetes_Volume_NFS_Path_installation_data": "null",
    "Kubernetes_Volume_Local_Path_installation_data": null,
    "Kubernetes_Volume_AzureFile_FileShare_installation_data": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_installation_data": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_installation_data": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_installation_data": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_installation_data": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_installation_data": "{{ openshift.storageClasses.rwx }}",
    "Kubernetes_Volume_Type_connect_iot_repo": "ExistingStorageClass",
    "Kubernetes_Volume_Size_connect_iot_repo": "1",
    "Kubernetes_Volume_NetworkShare_Path_connect_iot_repo": null,
    "Kubernetes_Volume_NetworkShare_User_connect_iot_repo": null,
    "Kubernetes_Volume_NetworkShare_Password_connect_iot_repo": null,
    "Kubernetes_Volume_NFS_Server_connect_iot_repo": null,
    "Kubernetes_Volume_NFS_Path_connect_iot_repo": null,
    "Kubernetes_Volume_Local_Path_connect_iot_repo": null,
    "Kubernetes_Volume_AzureFile_FileShare_connect_iot_repo": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_connect_iot_repo": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_connect_iot_repo": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_connect_iot_repo": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_connect_iot_repo": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_connect_iot_repo": "{{ openshift.storageClasses.rwx }}",
    "Kubernetes_Volume_Type_mes_host_documents": "ExistingStorageClass",
    "Kubernetes_Volume_Size_mes_host_documents": "1",
    "Kubernetes_Volume_NetworkShare_Path_mes_host_documents": null,
    "Kubernetes_Volume_NetworkShare_User_mes_host_documents": null,
    "Kubernetes_Volume_NetworkShare_Password_mes_host_documents": null,
    "Kubernetes_Volume_NFS_Server_mes_host_documents": null,
    "Kubernetes_Volume_NFS_Path_mes_host_documents": null,
    "Kubernetes_Volume_Local_Path_mes_host_documents": null,
    "Kubernetes_Volume_AzureFile_FileShare_mes_host_documents": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_mes_host_documents": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_mes_host_documents": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_mes_host_documents": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_mes_host_documents": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_mes_host_documents": "{{ openshift.storageClasses.rwx }}",
    "Kubernetes_Volume_Type_mes_logs_share": "ExistingStorageClass",
    "Kubernetes_Volume_Size_mes_logs_share": "1",
    "Kubernetes_Volume_NetworkShare_Path_mes_logs_share": null,
    "Kubernetes_Volume_NetworkShare_User_mes_logs_share": null,
    "Kubernetes_Volume_NetworkShare_Password_mes_logs_share": null,
    "Kubernetes_Volume_NFS_Server_mes_logs_share": null,
    "Kubernetes_Volume_NFS_Path_mes_logs_share": null,
    "Kubernetes_Volume_Local_Path_mes_logs_share": null,
    "Kubernetes_Volume_AzureFile_FileShare_mes_logs_share": null,
    "Kubernetes_Volume_AzureFile_StorageAccountName_mes_logs_share": null,
    "Kubernetes_Volume_AzureFile_StorageAccountKey_mes_logs_share": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Name_mes_logs_share": null,
    "Kubernetes_Volume_Existing_Persistent_Volume_Storage_Class_Name_mes_logs_share": null,
    "Kubernetes_Volume_Existing_Storage_Class_Name_mes_logs_share": "{{ openshift.storageClasses.rwx }}",
    "DATAMANAGER_ENV_MANAGER_BOOT_SYNC_ENABLED": "true",
    "DISCOVERYSERVICES_ENV_MANAGER_BOOT_SYNC_ENABLED": "false",
    "MESSAGEBUS_ENV_MANAGER_BOOT_SYNC_ENABLED": "false",
    "HOST_ENV_MANAGER_BOOT_SYNC_ENABLED": "true",
    "SECURITYPORTAL_ENV_MANAGER_BOOT_SYNC_ENABLED": "true",
    "TRAEFIK_FORWARDAUTH_ENV_MANAGER_BOOT_SYNC_ENABLED": "false",
    "HELP_REF_ENV_MANAGER_BOOT_SYNC_ENABLED": "true",
    "UI_ENV_MANAGER_BOOT_SYNC_ENABLED": "true",
    "GRAFANA_ENV_MANAGER_BOOT_SYNC_ENABLED": "true",
    "RASA_ENV_MANAGER_BOOT_SYNC_ENABLED": "true",
    "EPF_ENV_MANAGER_BOOT_SYNC_ENABLED": "true",
    "REPLICATOR_ENV_MANAGER_BOOT_SYNC_ENABLED": "true",
    "Kubernetes_lbogenerator_Replicas": "1",
    "Kubernetes_lbogenerator_ReplicasDisabled": "True",
    "Kubernetes_lbogenerator_MinMemory": "0.2Gi",
    "Kubernetes_lbogenerator_MaxMemory": "6Gi",
    "Kubernetes_lbogenerator_MinCPU": "0.1",
    "Kubernetes_lbogenerator_MaxCPU": "1.5",
    "Kubernetes_Volume_Access_Mode_ml_training_folder": "ReadWriteMany",
    "Kubernetes_Volume_Access_Mode_ml_agent_folder": "ReadWriteMany",
    "Kubernetes_Volume_Access_Mode_clickhouse-data": "ReadWriteOnce",
    "Kubernetes_Volume_Access_Mode_clickhouse-log": "ReadWriteOnce",
    "Kubernetes_Volume_Access_Mode_redis-data": "ReadWriteOnce",
    "Kubernetes_Volume_Access_Mode_zookeeper1-data": "ReadWriteOnce",
    "Kubernetes_Volume_Access_Mode_zookeeper1-datalog": "ReadWriteOnce",
    "Kubernetes_Volume_Access_Mode_kafka1-data": "ReadWriteOnce",
    "Kubernetes_Volume_Access_Mode_kafka2-data": "ReadWriteOnce",
    "Kubernetes_Volume_Access_Mode_kafka3-data": "ReadWriteOnce",
    "Kubernetes_Volume_Access_Mode_mssqlserver_data": "ReadWriteMany",
    "Kubernetes_Volume_Access_Mode_grafana_share": "ReadWriteMany",
    "Kubernetes_Volume_Access_Mode_installation_data": "ReadWriteMany",
    "Kubernetes_Volume_Access_Mode_connect_iot_repo": "ReadWriteMany",
    "Kubernetes_Volume_Access_Mode_mes_host_documents": "ReadWriteMany",
    "Kubernetes_Volume_Access_Mode_mes_logs_share": "ReadWriteMany"
  }